<ng-content></ng-content>
<div class="container">
    <header>
        <router-outlet>
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

                <a class="navbar-brand" href="#">Navbar</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" routerLink="">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" routerLink="skills">Skills</a>
                        <a class="nav-item nav-link" routerLink="skill/create">Add skill</a>
                        <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    </div>
                </div>
            </nav>
        </router-outlet>
    </header>
</div>