<form action="" class="well">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add skill...">
        <input type="number" [(ngModel)]="rate" name="rate" class="form-control" placeholder="Add rate...">
        <input type="button" class="btn btn-success" value="Add" (click)="addSkill($event)">
    </div>
</form>

<div class="task-list">
    <div *ngFor="let skill of skills">
        <div class="col-md-6">
            {{skill.title}}
        </div>
        <div class="col-md-2">
            {{skill.rate}}%
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-danger" value="Delete">
        </div>
    </div>
</div>